@model MyStorageSite.Models.Order
@*@model MyStorageSite.Models.Product*@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>

    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayNameFor(model => model.contactPhone)</td>
            <td>@Html.DisplayNameFor(model => model.OrderDate)</td>
            <td>@Html.DisplayNameFor(model => model.Products.ProductName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Address)</td>
            <td>@Html.DisplayFor(model => model.contactPhone)</td>
            <td>@Html.DisplayFor(model => model.OrderDate)</td>
            <td>@Html.DisplayFor(model => model.Products.ProductName)</td>
        </tr>
    </table>
    <a href="~/Order/EditOrder/@Model.Id">Edit</a>
</div>
